/* Couleurs souvent utilisées */
$blanc:#FFFFFF;
$bleu-clair:#1C6C8F;
$bleu:#013658;
$bleu-fonce:#001927;
$orange:#F17327;
$marron:#885835;
$gris-clair:#ccc;



/* Bordures */
.border_complete{
	border-style: solid 1px $blanc;
}

.border_bas{
	border-bottom: solid 1px $blanc;
}

.border_gauche{
	border-left: solid 1px $blanc;
}

.border_droite{
	border-right: solid 1px $blanc;
}

.border_haut{
	border-top: solid 1px $blanc;
}
