$bleu:#0099FF;
$rouge:#FF1919;
$vert:#5CD65C;
$defaut:#ededed;

$txt-defaut:#777777;
$txt-btn-couleur:white;

$bsmall:10%;
$bnormal:15%;
$blarge:20%;
$bxxlarge:25%;

button, .btn{
	font-size: 14px;
	background-color:$defaut;
	text-indent:0;
	border:1px solid $txt-defaut;
	display:inline-block;
	color:$txt-defaut;
	text-decoration:none;
	text-align:center;
	padding: 2px;
	width:$bnormal;

	&:hover{
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
		background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
		background-color:#dfdfdf;
	}

	&:active{
		cursor: pointer;
	}

}


.btn-lg{
	@extend .btn;
	width:$blarge;
}

.btn-sm{
	@extend .btn;
	width:$bsmall;
}

.btn-rouge{
	@extend .btn;
	background-color: $rouge;
	color:$txt-btn-couleur;
	&:hover{
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
		background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
		background-color:#ce0100;
	}
}

.btn-bleu{
		@extend .btn;
	background-color: $bleu;
	color:$txt-btn-couleur;

	&:hover{
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
		background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
		background-color:#378de5;
		cursor:pointer;
	}
}

.btn-vert{
	@extend .btn;
	background-color: $vert;
	color:$txt-btn-couleur;

	&:hover{
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
		background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
		background-color:#a5cc52;		
	}
}


.btn-ft{
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 10px;
	border:none;
}

.btn-xxlg{
	width:$bxxlarge;
}

.btn-fcy{
	text-decoration:none; text-align:center; 
 	padding:28px 65px; 
	border:dashed 2px #004F72; 
	-webkit-border-radius:50px;
	-moz-border-radius:50px; 
	border-radius: 50px; 
	font:24px Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#E5FFFF; 
	background-color:#3b8ac7; 
	background-image: -moz-linear-gradient(top, #3b8ac7 0%, #1961a5 100%); 
	background-image: -webkit-linear-gradient(top, #3b8ac7 0%, #1961a5 100%); 
	background-image: -o-linear-gradient(top, #3b8ac7 0%, #1961a5 100%); 
	background-image: -ms-linear-gradient(top, #3b8ac7 0% ,#1961a5 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1961a5', endColorstr='#1961a5',GradientType=0 ); 
	background-image: linear-gradient(top, #3b8ac7 0% ,#1961a5 100%);   
	-webkit-box-shadow:13px 11px 11px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 13px 11px 11px #bababa,  inset 0px 0px 1px #ffffff;  
 	box-shadow:13px 11px 11px #bababa, inset 0px 0px 1px #ffffff;  
}

.btn-fcy:hover{
	background-color: #1E4564;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1E4564), color-stop(1, #3b8ac7) );
	background:-moz-linear-gradient( center top, #1E4564 5%, #3b8ac7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1E4564', endColorstr='#3b8ac7');
}

.btn-jumbotron{
	@extend .btn-vert;
	@extend .btn-xxlg;
	padding:10px;
	
	&:after {
  	content: "»";
	}
}