body{
	margin:0;
	font-family: Oxygen;
}
/* Titres */
h1, h2, h3, h4, h5, h6{
	/*text-decoration: underline;*/
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small{
	/*color: gray;*/
	font-size: 10px;
}

/* Divers */
p{
	margin-bottom: 2%;
}

mark, del, ins, u, strong, em, abbr{
	display: inline;
}

mark{
	background-color: #00CCFF;
}

blockquote:before {
  	content: "«";
}

blockquote:after {
  	content: "»";
}

code{
	font-family: 'Droid Sans Mono' ;
	font-weight: bold;
	font-size: 14px;
	background-color: #E6E6E6;
	display: block;
	margin-left: 5%;
	margin-right: 5%
}

kbd{
	font-style: oblique;
	color: #B26B00;
}

li:hover { 
    background-color: #B77749;
}

a{
	text-decoration: none;
	color:white;
}