.header {
	padding: 1%;
	padding-left: 150px;
}


.jumbotron{
	background-color: #CCCCCC;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
	padding: 150px;
	border-radius: 6px;

	p{
		font-size: 24px;
	}
}

