.sans_deco{
	list-style-type: none;
}

.puce_carree{
	list-style-type: square;
}

.no_padding{
	padding:0;
}

.no_margin{
	margin:0;
}

.a_gauche{
	text-align: left;
}

.a_droite{
	text-align: right;
}

.centrer{
	text-align: center;
}

.justifier{
	text-align: justify;
}

.uppercase{
	text-transform: uppercase;
}

.lowercase{
	text-transform: lowercase;
}

.underline{
	text-decoration: underline;
}

.alterner tr:nth-child(odd){
	background-color: red;
}

.alterner tr:nth-child(even){
	background-color: #E3DAC9;
}