@import url(http://fonts.googleapis.com/css?family=Oxygen);

/* import framework */
@import "_bouton";
@import "_border";
@import "_jumbotron";
@import "_transformation";
@import "_general";


/* style relatif projet */

body{
	margin:0;
	font-family: Oxygen;
	background-color: #E6E68A;
}

#bandeau, footer{
	background-color: #F17327;
	color: white;
}

#navbar{
	background-color: #885835;
	color: white;
}


li{
	display:inline;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1rem;
}

#content{
	margin-top:2%;
	padding-top:2%;
	padding-bottom:2%;
	background-color: #F1EFE2;
	margin-bottom:2%;

	-moz-box-shadow: 0px 0px 5px 1px #656565;
	-webkit-box-shadow: 0px 0px 5px 1px #656565;
	-o-box-shadow: 0px 0px 5px 1px #656565;
	box-shadow: 0px 0px 5px 1px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

h3{
	padding-left: 2%;
	padding-bottom:2%;
	border-bottom: 2px solid lightgray;
}

.marron{
	color: #885835;
}

#img1, #bloc_ann{
	display: inline-block;
	vertical-align: top;
	max-height:200px;
}

p{
	font-size: 14px;
}

small{
	font-size:10px;
}

div [id^="ann_"]{
	padding-top:1%;
	padding-bottom: 1%;
	height:10%;
	border-bottom: 1px solid lightgray;
}

div [id^="ann_"]:last-child{
	border-bottom: 0px;
}

#titre{
	font-size:20px;
}

#cat ul li img{
	max-height:50px;
	padding-left:15px;
	float:left;
	vertical-align: middle;
}

#cat a{
	color:black;
}

#li_cat{
	display:inline-block;
	text-align: center;
	max-height:75px;
	min-width:200px;

}

#plus_annonce{
	border-top:2px solid lightgray;
}

footer{
	font-size: 12px;
	padding-top: 1%;
	padding-bottom: 1%;
	border-top: 5px solid #885835;
}

#bloc_champs{
	line-height:25px;
	padding-bottom:2%;
}

#descri{
	vertical-align: text-top;
}

#resu_rech{
	border-top:2px solid lightgray;
	padding-top:2%;
}

.champ{
	-webkit-box-shadow: 4px 4px 11px 0px rgba(135, 80, 0, 0.48);
-moz-box-shadow:    4px 4px 11px 0px rgba(135, 80, 0, 0.48);
box-shadow:         4px 4px 11px 0px rgba(135, 80, 0, 0.48);
}

#bouton img{
	max-height: 25px;

}

#bouton{
		display: inline-block;
}

$tier: 33%;

@media screen and (max-width:480px){
		/* général */

		li {
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 1rem;
			display: inline-block;
		}

		header, #bandeau, #navbar, footer{
			width:100%;
		}

		#navbar ul li{
			width:$tier;
			vertical-align: middle;
		}

		#content{
			margin:0;
			border-radius:0;
			max-width: 100%;
			text-align: center;
		}

		#li_cat img{
			display: none;
		}

		.annonce div img{
			max-width: 200px;
		}

		#cat ul {
			padding-left:0px;
		}

		#navbar ul li{
			margin-right: 0;
		}

		/*ajouter, rechercher, gerer*/


		#bloc_champ span, #bloc_champ input, #bloc_champ select{
			width:33%;
		}

	}

	@media screen and (min-width: 481px) and (max-width: 1450px){
		/*ajouter, rechercher, gerer*/
		#bloc_champ{
			margin-left: 15%;
		}

		#bloc_champ span, #bloc_champ input, #bloc_champ select{
			width:$tier;
			max-width:200px;
			margin-left: 0;
		}
	}