@charset "UTF-8";
.ligne {
  font-size: 0; }

.col {
  display: inline-block;
  word-wrap: break-word;
  width: 7.41667%;
  margin-right: 1%; }

.col:last-child {
  margin-right: 0; }

/* span et offset pour desktop */
@media screen and (min-width: 1451px) {
  .span-2 {
    width: 15.83333%;
    margin-right: 1%; }

  .span-3 {
    width: 24.25%;
    margin-right: 1%; }

  .span-4 {
    width: 32.66667%;
    margin-right: 1%; }

  .span-5 {
    width: 41.08333%;
    margin-right: 1%; }

  .span-6 {
    width: 49.5%;
    margin-right: 1%; }

  .span-7 {
    width: 57.91667%;
    margin-right: 1%; }

  .span-8 {
    width: 66.33333%;
    margin-right: 1%; }

  .span-9 {
    width: 74.75%;
    margin-right: 1%; }

  .span-10 {
    width: 83.16667%;
    margin-right: 1%; }

  .span-11 {
    width: 91.58333%;
    margin-right: 1%; }

  .span-12 {
    width: 100%;
    margin-right: 1%; }

  .offset-1 {
    margin-left: 8.41667%; }

  .offset-2 {
    margin-left: 16.83333%; }

  .offset-3 {
    margin-left: 25.25%; }

  .offset-4 {
    margin-left: 33.66667%; }

  .offset-5 {
    margin-left: 42.08333%; }

  .offset-6 {
    margin-left: 50.5%; }

  .offset-7 {
    margin-left: 58.91667%; }

  .offset-8 {
    margin-left: 67.33333%; }

  .offset-9 {
    margin-left: 75.75%; }

  .offset-10 {
    margin-left: 84.16667%; }

  .offset-11 {
    margin-left: 92.58333%; }

  .offset-12 {
    margin-left: 101%; } }
/* span et offset pour tablette */
@media screen and (min-width: 481px) and (max-width: 1450px) {
  .span-2 {
    width: 15.83333%;
    margin-right: 1%; }

  .span-3 {
    width: 24.25%;
    margin-right: 1%; }

  .span-4 {
    width: 32.66667%;
    margin-right: 1%; }

  .span-5 {
    width: 41.08333%;
    margin-right: 1%; }

  .span-6 {
    width: 49.5%;
    margin-right: 1%; }

  .span-7 {
    width: 57.91667%;
    margin-right: 1%; }

  .span-8 {
    width: 66.33333%;
    margin-right: 1%; }

  .span-9 {
    width: 74.75%;
    margin-right: 1%; }

  .span-10 {
    width: 83.16667%;
    margin-right: 1%; }

  .span-11 {
    width: 91.58333%;
    margin-right: 1%; }

  .span-12 {
    width: 100%;
    margin-right: 1%; }

  .offset-1 {
    margin-left: 8.41667%; }

  .offset-2 {
    margin-left: 16.83333%; }

  .offset-3 {
    margin-left: 25.25%; }

  .offset-4 {
    margin-left: 33.66667%; }

  .offset-5 {
    margin-left: 42.08333%; }

  .offset-6 {
    margin-left: 50.5%; }

  .offset-7 {
    margin-left: 58.91667%; }

  .offset-8 {
    margin-left: 67.33333%; }

  .offset-9 {
    margin-left: 75.75%; }

  .offset-10 {
    margin-left: 84.16667%; }

  .offset-11 {
    margin-left: 92.58333%; }

  .offset-12 {
    margin-left: 101%; } }
/* enl├¿ve span et offset pour smartphone */
@media screen and (max-width: 480px) {
  .span-2 {
    width: auto; }

  .span-3 {
    width: auto; }

  .span-4 {
    width: auto; }

  .span-5 {
    width: auto; }

  .span-6 {
    width: auto; }

  .span-7 {
    width: auto; }

  .span-8 {
    width: auto; }

  .span-9 {
    width: auto; }

  .span-10 {
    width: auto; }

  .span-11 {
    width: auto; }

  .span-12 {
    width: auto; }

  .offset-1 {
    margin-left: 0; }

  .offset-2 {
    margin-left: 0; }

  .offset-3 {
    margin-left: 0; }

  .offset-4 {
    margin-left: 0; }

  .offset-5 {
    margin-left: 0; }

  .offset-6 {
    margin-left: 0; }

  .offset-7 {
    margin-left: 0; }

  .offset-8 {
    margin-left: 0; }

  .offset-9 {
    margin-left: 0; }

  .offset-10 {
    margin-left: 0; }

  .offset-11 {
    margin-left: 0; }

  .offset-12 {
    margin-left: 0; } }
.nomarginright {
  margin-right: 0; }

.nomarginleft {
  margin-left: 0; }

/*# sourceMappingURL=grille1.css.map */
